.App-footer {
  background-color: #282c34;
  padding: 20px;
  text-align: center;
  color: white;
}

.footer-text {
  color: #61dafb;
  font-size: 14px;
}

.footer-links {
  color: #21a0a0;
  font-size: 14px;
  margin: 10px 0;
}

.footer-contact {
  color: #ff6347;
  font-size: 14px;
}
